<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>
   <style>
      nav{
         background-color: white;
         border-bottom: solid;
         border-color: lightgray;
      }
   </style>
   <body>
      <nav>
         <img src="" alt="">
         <a href="" class="">votre compte</a>
         <a href="" class="">Louer</a>
         <a href="" class="">Nos services</a>
         <a href="" class="">Sign Up</a>
      </nav>

      {{{body}}}
      <footer>
         <a href="">Aide & Contact</a>
         <a href="">Informations générales</a>
         <a href="">Mentions légales</a>
         <a href="">Partnership</a>
      </footer>
      <script src="/js/script.js"></script>
   </body>

</html>