<form action="/add-car" method="POST">
  <label for="brand">Marque :</label>
  <input type="text" name="brand"><br>

  <label for="model">Modèle :</label>
  <input type="text" name="model"><br>

  <label for="energyType">Type d'énergie :</label>
  <input type="text" name="energyType"><br>

  <label for="doors">Nombre de portes :</label>
  <input type="number" name="doors"><br>

  <label for="seats">Nombre de sièges :</label>
  <input type="number" name="seats"><br>

  <label for="gear">Type de transmission :</label>
  <select name="gear">
    <option value="manual">Manuelle</option>
    <option value="automatic">Automatique</option>
  </select><br>

  <input type="submit" value="Ajouter">
</form>
